
body {
	background: url(../images/back1.jpg) fixed repeat ;
}

footer {
  width: 100%;
  background-color: black;
}
.box1 h2, .box2 h2, .box3 h2 {
	background: red;
  margin-right: 55%;
  border-radius: 5px 5px 5px 5px;
  color: black;
  opacity: 0.7;
  text-align: center;
  font-weight: bold;
}

.box1 p, .box2 p, .box3 p {
	margin-top: 60%;
	font-size: 180%;
	font-weight: bold;
}

.box1, .box2, .box3 {
 -moz-border-radius-topleft: 10px;
 -moz-border-radius-topright: 10px;
 -moz-border-radius-bottomright: 0px;
 -moz-border-radius-bottomleft: 0px;
 -webkit-border-radius: 10px 10px 10px 0px;
 border-radius: 10px 10px 10px 10px;
 max-height: 350px;
}

.box1 {
	background: url(../images/box/mare.jpg) no-repeat ;
	color: white;
	height: 450px;

}

.box2 {
	background: url(../images/box/2.jpg) ;
	color: white;
	height: 450px;
}

.box3 {
	background: url(../images/box/3.jpg) ;
	color: white;
	height: 450px;
}

.box1:hover, .box2:hover, .box3:hover {


	background-color: #E00000;
	background-blend-mode: multiply;
	color: white;
	font-weight: bolder;
}



.box1:hover > h2, .box2:hover > h2, .box3:hover > h2 {
	background: black;
  margin-right: 50%;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.box1:hover > p, .box2:hover > p, .box3:hover > p {
	background: black;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-weight: bolder;
  opacity: 0.7;
}

.featurette {
	background-color: black;
	opacity: 0.9;
  margin: auto;
  margin-top: 20px;
  color: white;

}

h2.featurette-heading {
  margin-top: auto;
}

.navbar-fixed-top {
  min-height: 50px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 60px;
}

.logo img{
	margin-bottom:-35px;
}

.nav {
	font-weight: bolder;
	font-size: large;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  
}

.navbar-inverse .navbar-nav>.active>a{
	background-color: black;
}

.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: red;
}

.navbar-inverse {
	background-color: black;
}
.navbar{
	opacity: 0.8;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color:#fff;
  /*color:red;   samo slova crvena na hover*/
  background-color: red;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 10px1 0px;
  border-radius: 10px 10px 10px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}

/** odavde krece css za footer  **/
.footer{
  background: black;
  
  width: 100%;

}
.footer ul, h4{
  color:rgb(183, 183, 183);
}
.container{
  width: 100%;
}
.naslovfooter{
  text-align: center;
  font-size: 18px;
  color:black;
  font-weight: bold;
  text-align: center; 
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 10px 10px 0 5px;
  margin: 15px;
  background-color: red;
  border-radius: 8px; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 

  
}
.mapa{
  padding-left: 10px;

}

.naslovfooter {
 margin-left: 33%;
}

.pull-right {
  margin-top: -45px;
  margin-right: 10px;
}

.container {
  margin-bottom: 0px;
}

.section.group{
  margin-top: 80px;
}

@media (max-width: 930px) {
  .box1, .box2, .box3 {
    
  }

}